<!DOCTYPE html>
<html ng-app='mathApp-app'>

<head>
    <base href="/">
    <title>Athlete App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/school-vars.css">
</head>

<body>
    <ui-view></ui-view>
    <script src="/js/all.min.js"></script>
</body>

</html>